body{
    margin: 0;
    width: 100%;
}

nav{
    background-color: rgb(39, 241, 21);
    height: 5px;
    width: 100%;
    grid-area: nav;
}
.grid{
    flex-wrap: wrap;
    display: grid;
    grid-auto-rows: 400px 220px 350px 200px 200px;
    grid-template-areas:
    "header header"
    "main main"
    "section aside"
    "lorem lorem"
    "hi hi";
    
}

header h1{
    font-family: 'Pacifico', cursive;
    color: white; 
    font-weight: 100;
    margin: 0;
}

header p{
    color: white;
    font-size: 20px;
    text-align: start;
}

header{
    display: flex;
    font-size: 16px;
    grid-area: header;
    background-size: 100vw 400px;
    background-image: url(./img/banner.png);
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.text{
    margin-right: 50px;
    text-decoration: none;
    justify-content: space-evenly;

}

.dot{
    display: flex;
    font-size: 1.3em;
    margin: 0;
}

#dot{
    color: rgb(39, 241, 21)
}

.left{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.banner-hand{
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.hand{
    display: flex;
    width: auto;
    height: 340px;
    padding-top: 60px;
    margin-left: 50px;
}

.shadow{
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;
    padding: 10px;
    background-color: black;
    opacity: 0.5;
    -moz-opacity: 0.4;
    margin: 0px 5px 0px 5px;
}
.shadow:hover{
    cursor: pointer;
    opacity: 1;
    background-color:  rgb(4, 216, 14);
}

main{
    display: flow-root;
    align-items: center;
    justify-content: space-evenly;
    grid-area: main;
    width: 100%;
}

main div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main div p{
    display: flex;
    font-size: 18px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 5px 0px 5px;
    margin-left: 0px
}

.edit{
    margin-left: 20px;
}
.flat{
    margin-left: 85px;
}

.icons{
    border-radius: 50%;
    padding: 15px;
    margin: 40px 65px 0px 65px;
    background-color: rgb(4, 216, 14);
    opacity: 0.8;
}

.icons:hover{
    cursor: pointer;
    opacity: (0,1);
    background-color: rgba(4, 216, 15, 0.5);
}

.text2{
    margin: 0;
    opacity: 0.55;
}

.p{
    margin: 0;
}

.reach{
    padding-left: 60px;
}

section{
    grid-area: section;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

aside{
    grid-area: aside;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.get-not p{
    opacity: 0.55;
}

.input-button{
    display: flex;
    justify-content: center;
}
div input{
 border: 0;
 padding: 12px;
}

div button{
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 0px 10px 10px 0px;
    border: 0;
    background-color: rgb(4, 216, 14); 
}

div button:hover{
    cursor: pointer;
    background-color: rgba(4, 216, 15, 0.438);
}

.video{
    background-image: url(./img/banner.png);
    background-size: 400px 220px;
    width: 350px;
    height: 220px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.video div{
    display: flex;
    align-items: center;
}

.video div label{
    background-color: rgba(0, 0, 0, 0.712);
    border-radius: 5px;
    opacity: 0.9;
    display: flex;
    align-items: flex-end;
    /* justify-content: center; */
    width: 250px ;
    margin-right: 5px;


}

label div{
    padding-top: 3px;
    margin-top: 7px;
    margin-bottom: 7px;
}

label img{
    display: flex;
    align-items: center;
    margin: 5.5px;
    width: auto;
    height: 10px;;
}

label img:hover{
    cursor: pointer;
}

label .audio{
    background-color: rgb(4, 176, 255);
    width: 2px;
    margin-left: 2px;
    height: 3px;
}

label .audio{
    cursor: pointer;
}

.bar-blue{
    background-color: rgb(4, 176, 255);
    height: 1px;
    border: 1px solid rgba(172, 169, 169, 0.616);
    width: 100px;
    margin-left: 6px;
}

.bar-blue:hover{
    cursor: pointer;
}

.bar-gray{
    background-color: gray;
    border-left: 0;
    height: 1px;
    border: 1px solid rgb(172, 169, 169, 0.616);
    width: 45px;
}

.bar-gray:hover{
    cursor: pointer;
}
.bar-empty{
    background-color: rgba(0, 0, 0, 0.712);
    opacity: 0.9;
    border: 1px solid rgb(172, 169, 169, 0.616);
    width: 20px;
    margin-right: 5px;
    height: 1px;
}
.bar-empty:hover{
    cursor: pointer;
}
.video div button{
    background-color: rgba(0, 0, 0, 0.712);
    border-radius: 10px;
    margin: 12px;
    opacity: 0.66;
}

.video div button:hover{
    cursor: pointer;
    background-color: rgb(4, 176, 255);
    opacity: 0.8;
}

.video button img{
    width: 20px;
}

.lorem{
    display: block;
    text-align: center;
    grid-area: lorem;
    font-size: 1em;
}

.text-lorem{
    display: block;
    text-align: center;
    padding: 0px 200px 0px 200px;
    grid-area: lorem;
    font-size: 1em;
}

.lorem p{
    opacity: 0.55;

}

.lorem h3{
    color: black;
    font-size: 18px;
}

.pessoas{
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#face1{
    background-image:linear-gradient(to right, rgb(255, 255, 255) , rgba(255, 255, 255, 0.171));
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
}

#face2{
    background-image:linear-gradient(to left, rgb(255, 255, 255) , rgba(255, 255, 255, 0.171));
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
}

.green{
    display: flex;
    margin: 1px;
    background-color: green;
    z-index: 2;
    width: 50px;
    height: 50px;
}

.green img{
    position: relative;
    z-index: 1;
}

.green img:hover{
    cursor: pointer;
    opacity: 0.5;
}

.hi{
    grid-area: hi;
    display: block;
    justify-content: center;
    font-weight: 100;
    align-items: center;
    text-align: center;
    font-size: 1em;
    padding-top: 35px;
}

.logo:hover{
    cursor: pointer;
    opacity: 0.66;
    background-color: rgb(4, 216, 15);
}
.logo{
    border-radius: 50%;
    padding: 5px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: black;
    opacity: 0.2;
    -moz-opacity: 0.4;
    margin: 0px 2px 10px 2px;
}

footer a{
    text-decoration: none;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(83, 82, 82);
}
